*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a,button{
    text-decoration: none;
    outline: none;
    border: none;
}
/********MAIN STYLE**********/
.flexible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-left{
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.centered {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
/*****************************/
p, a, h3, h2{
    font-family: MyriadProRegular sans-serif;
    color: #2b2b2b;
}
.white_color{
    color:#ffffff;
}
.link{
    text-decoration: none;
}

.title_h2 {
    font-size: 30px;
    font-weight: normal;
}

.title_h3 {
    font-size: 20px;
    font-weight: normal;
}
@media screen and (min-width: 1920px){
    .hide_in_desktop{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1920px){
    .hide_in_tablet_768{
        display: none;
    }
    .title_h2 {
        font-size: 22px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1920px){
    .hide_in_tablet_768{
        display: none;
    }
    .title_h2 {
            font-size: 22px;
    }
}

