.common_container {
    width: 100%;
    margin: 0;
    padding: 0;
}
/*Start Header*/
.header {
    background: url("../images/girl.jpg") center;
    background-size: cover;
    width: 100%;
    border-bottom: solid 3px #0798c7;
    position: relative;
    padding-bottom: 27.2%;
}

.nav {
    background-color: rgba(7,152,199,0.8);
    width: 100%;
    /* height: 68px; */
    z-index: 4;
}
.litter {
    width: 100%;
}
.nav_list {
    margin: 0;
    display: flex;
    width: 52.3458%;
    min-width: 698px;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-around;
    list-style-type:none;
    height: 100%;
}

.nav_list_item {
    padding-bottom: 2.2%;
    padding-top: 2.3%;
    flex-grow: 1;
    text-align: center;
    height: 100%;
}
.nav_list_item_link{
    opacity: 1;
    font-size: 18px;
}
.nav_list_item:nth-child(2) {
    position: relative;
}
.nav_list_item:hover .drop_dawn_menu {
    display: block;
}
.nav_list_item:hover {
    background-color: #0798c7;
    opacity: 1;
}
.drop_dawn_menu {
    width:15%;
    padding-top: 8%;
    min-width: 175px;
    justify-content: flex-start;
    list-style-type:none;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: rgba(7,152,199,0.8);
}
.drop_dawn_menu_item:hover {
    background-color: #0798c7;
}

.drop_dawn_menu_item {
    padding: 3% 0% 3% 3%;
    text-align: left;
    cursor: pointer;
}
.drop_dawn_menu_item_link {
    font: 71% MyriadProRegular;
}
.logo {
    margin: 0;
    width:11.9%;
    display: block;
    position: absolute;
    top: 24.6%;
    left: 25%;
    z-index: 1;
}
.slogan {
    font-family: MyriadProRegular sans-serif;
    font-size: 1.3vw;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 68%;
    left: 24.7%;
}
.network_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:17.2%;
    position: absolute;
    top: 86.5%;
    left: 24.1%;
}

.network {
    width:12%;
    margin-left: 3%;
    opacity: 0.8;
}
.network:hover{
    opacity: 1;
}
.network:nth-child(2) {
    width:12%;
    margin-left: 5%;
    margin-right: 5%;
}
.network:nth-child(3) {
    margin-left: 0;
    margin-right: 0;
}
.point_wrapper {
    width: 16%;///
    /*width: 15.739385%;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 12%;
    left: 40.4%;
}
.point{
    width:5.3370%;
    transition: transform 300ms ease-in-out;
    transform-origin: center;
}
.point:hover{
    transform: scale(1.3);
}
.point:first-child{
    margin-top: 16%;
    margin-left: 46%;
}
.point:nth-child(2){
    margin-top:10%;
    margin-left: 68%;
}
.point:nth-child(3){
    margin-top: 13%;
    margin-left: 60%;
}
.point:nth-child(4){
    margin-top: 14%;
    margin-left: 70%;
}
.point:nth-child(5){
    margin-top: 20%;
    margin-left: 56%;
}

.clinics {
    width:36.6%;
    position: absolute;
    top:10%;
    left:60.5%;
}
.language_wrapper {
    margin-top: 3.6%;
    margin-left: 25.9%;
}
.language_link.active,
.language_link:hover {
    font-weight: bold;
    color: #0798c7;
}

.language_link {
    color: #a8bec7;
    font-size: 0.7vw;
    margin-right: 0.9%;
}
.green_link_wrapper,
.blue_link_wrapper{
    width: 90%;
    background-size: cover;
    position: relative;
}

.green_link_wrapper{
    background: #d0e4a9;
    background: linear-gradient(to right, #d0e4a9 5%,#a9cd39 28%,#ecf6fb 86%);
    margin-top: 11.2%;
}

.blue_link_wrapper{
    width: 90%;
    background: #7ee5f2;
    background: linear-gradient(to right, #7ee5f2 5%,#24d7eb 28%,#ecf6fb 86%);
    margin-top: 8.9%;
}

.green_link,
.blue_link {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left:11%;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
}
.green_link_circle,
.blue_link_circle{
    background-repeat: no-repeat;
    background-size: cover;
    width: 98px;
    height: 98px;
    position: absolute;
    top: -28%;
    left: -6.4%;
    content: "";
    transition-duration: 300ms;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transform-origin: center;
}
.green_link_circle {
    background-image: url(../images/CircleGreen.png);
}
.blue_link_circle{
    background-image: url(../images/CircleBlue.png);
}

.green_link_circle:hover,
.blue_link_circle:hover{
    transform: scale(1.3) translate( -10%, 0);
}

/*End Header*/
/*Start Services*/
.services {
    height: 21.1vw;
    width: 100%;
    background: #dae5e9;
}

.section {
    width: 47.1458%;
    flex-direction: row;
    align-items: flex-start;
}

.figure {
    width: 19.7262%;
}

.figure_img{
    width: 100%;
    border-radius: 50%;
    border: 1px solid black;
}
.figure_img:hover {
     border: 1px solid #0798c7;
     box-shadow: 0px 3px 18px -2px #afafaf;
 }
.figcaption {
     margin-top: 24px;
     text-align: center;
     font-family: MyriadProRegular sans-serif;
     font-size: 20px;
 }

/*End Services*/
/*Start Article*/
.clause {
    width: 100%;
    flex-direction: row;
    background-image: url(../images/fon.png);
    background-size: cover;
}
.clause_article {
    width: 51.4458%;
    flex-direction: row;
    align-items: flex-start;
}
.clause_article_text_wrapper {
    text-align: left;
    width: 70%;
    min-width:490px;
    margin-right: 2%;
    margin-top: 5.4%;
}
.clause_article_title{
    margin-bottom: 1.6%;
}
.clause_article_text{
    font-family: MyriadProRegular sans-serif;
    font-size: 13px;
}
.clause_article_text:first-child{
    margin: 7% 0 0 0;
}
.clause_article_text:nth-child(2){
    text-indent: 4%;
    margin-bottom: 0;
 }
.clause_article_text:nth-child(3) {
    text-indent: 4%;
    margin-top: 0;
    margin-bottom: 2%;
}

.clause_article img {
    width: 24.95%;
    margin-top: 5.08%;
    margin-bottom: 4.48%;
}
/*End Article*/
/*Start PhotoGallery*/
.photo_gallery_container {
    background-image: url(../images/fon2.png);
    background-size: cover;
    width: 100%;
    height: 26.1vw;
}
.title_photo_gallery{
    margin-top: 1.5%;
}
.photo_gallery_wrapper{
    width:51.1458%;
}
.slides_wrapper {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    margin-top: 2.5%;
}

.slide_points{
    margin-top: 3%;
    max-width: 104px;
    max-height: 14px;
}
.image_slide {
    width: 100%;
    margin: 0;
    opacity: 1;
    position: relative;
}
.image_slide:first-child{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.slide{
    width: calc(100% / 3);
}

.cover_slide {
    position: absolute;
    background-image: url("../images/Cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    width: calc(100% / 3);
    padding-top: calc(100% / 3);
    z-index: 6;
}
.cover_slide:hover {
    opacity: 1;
}

.image_slide:nth-child(3){
    position: absolute;
    top: 0;
    left: 33.3%;
    z-index: 3;
    display: none;
}

.image_slide:nth-child(5){
    position: absolute;
    top: 0;
    left: 66.5%;
    z-index: 3;

}
/*End PhotoGallery*/
/*Start News*/
.news_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-bottom: 4px solid #dae5e9;
}
.news_section {
    width:51.1458%;
    display: flex;
    flex-direction: column;
    align-items:center;

}

.news_title{
    color: #393939;
    margin-top: 2.1%;
}
.news_text{
    font-family: MyriadProRegular sans-serif;
    color: #2b2b2b;
    margin-top: 5.1%;
    margin-bottom: 1.8%;
    font-size: 14px;
    line-height: 1.6;
}

.news_article:nth-child(2) .news_text,
.news_article:nth-child(3) .news_text{
    margin-top: 1%;
}
.news_article_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 5.4%;
    margin-top: 2.3%;
}
.news_article {
    width: 31.77%;
}
.article_title{
    display: block;
    font-size: 22px;
    margin-top: 9%;
}
.news_article:nth-child(2) .article_title{
    margin-top: 6%;
}
.news_article:nth-child(3) .article_title{
    margin-top: 6%;
}
.news_article_img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
.news_article_data {
    width: 100%;
    min-width:100%;
    flex-direction: row;
}
.news_article .news_article_data p {
    margin: 2% 0 0 0;
    font-family: MyriadProRegular sans-serif;
    font-size: 0.7vw;
}
.news_article_data a {
    width: 7%;
    margin:0 0 0 76%;
}

.arrow {
    width: 100%;
}
/*End News*/
/*Start Footer*/
.footer_container {
    width: 100%;
    background: #0798c7;
}

.footer_wrapper{
    width:51.1458%;
    display: flex;
    flex-direction: row;
    padding: 1.4% 0 0 0;
}

.footer_section{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    padding-left: 5.9%;
}
.title_h3_footer {
    font-family: MyriadProRegular sans-serif;
    color: #ffffff;
    font-size: 0.8vw;
}
.contacts_container{
    margin-top: 4%;
    width: 100%;
}
.contact_wrapper{
    width: 50%;
}

.phone_contact_wrapper{
    padding-left: 8%;
}

.icon{
    width: 18px;
    height: 21px;
    margin-right: 9%;
}

.contact_text{
    color: #ffffff;
    font-size: 13px;
}

.network_buttons {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5%;
    margin-top: 6.5%;
}

.network_buttons img {
     width: 8%;
     opacity: 0.8;
 }

.network_link_img {
    margin-right: 2.45%;
}
.network_link_img:first-child {
    margin-right: 2.45%;
}
.network_link_img:nth-child(2) {
    margin-right: 3.85%;
}

.network_link_img:hover {
    opacity: 1;
}

.network_link_button  {
    width: 35.15%;
    margin-left: 6.53%;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid  #ffffff;
    border-radius: 5px;
    text-decoration: none;
    background: transparent;
}

.network_buttons a:hover {
    background: #068ab5;
}
.text_button {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    line-height: 2em;
    font-size: 0.8vw;
}
.network_link_button .button_img {
    width: 12%;
    margin-left: 8%;
    margin-right: 4%;
    opacity: 1;
}
.right_text{
    margin-top: 9.8%;
    font-size: 13px;
}

/*End Footer*/